<section *ngIf="currentUser" class="tfa-form" fxLayout="column" fxLayoutAlign="center center">

  <div *ngIf="!currentUser.tfaEnabled && tfaSetup">
    <mat-card-subtitle>Scan the QR code or enter the secret key in Google Authenticator</mat-card-subtitle>
    <img src="{{tfaSetup.dataURL}}" fxLayoutAlign="center">
    <p>Secret Key: {{tfaSetup.tempSecret}}</p>
    <p>Auth Type: Time Based - OTP</p>
    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px" [formGroup]="tfaEnableForm">
      <mat-form-field>
        <input type="text" matInput placeholder="Auth code" formControlName="authCode">
        <mat-error *ngIf="tfaEnableForm.controls['authCode'].hasError('required')">Auth code field is required
        </mat-error>
      </mat-form-field>
    </form>
  </div>

  <div *ngIf="currentUser.tfaEnabled">
    <mat-card fxLayout="column" fxLayoutAlign="center center">
      <mat-card-subtitle fxLayoutAlign="center center">Two-Factor Authentication Status</mat-card-subtitle>
      <span class="tfa-status">ON</span>
    </mat-card>
  </div>

</section>