img {
    width: 17.5rem;
    height: 17.5rem;
    margin: 0 auto;
}

.tfa-status {
    padding: 0.5rem;
    color: #36c136;
    background: #b1c1b436;
    font-size: 1.1rem;
    font-weight: 700;
    border-radius: 3px;
}
