<section class="login-form">

  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input type="email" matInput placeholder="Your email" name="email" email formControlName="email" >
      <mat-error *ngIf="loginForm.controls['email'].hasError('required')">Email field is required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="password" matInput placeholder="Your password" placeholder="Your password" formControlName="password">
      <mat-error *ngIf="loginForm.controls['password'].hasError('required')">Password field is required</mat-error>
    </mat-form-field>
    <button type="submit" mat-raised-button [disabled]="loginForm.invalid" color="primary">Submit</button>
  </form>

</section>