.page-title {
  margin: 1rem;
  text-align: center;
  font-size: 10rem;
  font-style: italic;
  color: #131313bf;
}

.page-title i {
  transform: rotate(270deg);
  font-size: 4.4rem;
  margin-left: 18px;
  font-weight: bold;
}