<!-- <div class="container" fxLayout="row" fxLayoutGap fxLayoutAlign="space-around center" >
    
  <div fxFlex="20%">
        <mat-card class="test-card" *ngFor="let item of state">
            <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">{{item.title}}</mat-card-title>
            <mat-card-content >
              <p>{{item.content}}</p>
              <img src="{{item.urlToImage}}" mat-card-image>
              <span >Author: </span><span>{{item.author}}</span>
              <h4>{{item.publishedAt | date}}</h4>
            </mat-card-content>
        </mat-card>
    </div>

</div> -->

<!-- <div>
 <div >
  <div class="gallery-card">
      <div class="test-card" *ngFor="let item of state; let i = index" fxFlex="400px"> 
          <div *ngIf="i %20 == 0">
              <mat-card >
                  <mat-card-title>{{item.title}}</mat-card-title>
                  <mat-card-content>
                    <p>{{item.content}}</p>
                    <img src="{{item.urlToImage}}" mat-card-image>
                    <span>Author: </span><span>{{item.author}}</span> 
                    <h4>{{item.publishedAt | date}}</h4> 
                  </mat-card-content>
                </mat-card>
          </div>
        </div>
  </div> 
  </div>


</div> -->

<div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="5px">
    <div class="gallery-card" *ngFor="let item of state; let i = index">
      <mat-card fxFlex="400px" *ngIf="i %9 == 0">
          <mat-card-title>{{item.title}}</mat-card-title>
          <mat-card-content>
            <p>{{item.content}}</p>
            <img src="{{item.urlToImage}}" mat-card-image>
            <span>Author: </span><span>{{item.author}}</span> 
            <h4>{{item.publishedAt | date}}</h4> 
          </mat-card-content>
      </mat-card>
    </div>
</div>