.container {
    /* min-height: 100%;
    width: 100%;
    background-color: rgb(220, 223, 196);
    padding: 3rem; */
  }

.test-card {
    width: 550px;
    /* max-width: 30vw; */
    /* margin: 0 auto; */
    /* margin-top: 1vh;  */
    /* width: 23%;
    margin-bottom: 2%; */
}
