.dashboard-info {
  // padding-top: 10vh;
}

mat-card {
  width: 14vw;
  padding: 2rem;
}

h4 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  margin: 0;
  padding-bottom: 1rem;
}

mat-spinner {
  margin: 0 auto;
  
}