<div class="dashboard-info" fxLayout="row" fxLayoutAlign="center center">
  <mat-card fxFlex.xs="0">
    <div *ngIf="loading" class="progress-bar">
      <mat-spinner diameter="50" strokeWidth="5"></mat-spinner>
    </div>
    <mat-card-title fxLayoutAlign="center center" *ngIf="!loading">
      Hi, {{currentUsername}}
    </mat-card-title>
    <mat-card-content *ngIf="!loading">
      <ul>
        <li>
          <h4>Username:</h4>
          <span>{{currentUsername}}</span>
        </li>
        <li>
          <h4>Date joined:</h4>
          <span>{{currentUserCreatedAt | date}}</span>
        </li>
      </ul>
    </mat-card-content>
  </mat-card>
</div>