<div class="settings" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
  <mat-card>
    <mat-card-title fxLayoutAlign="center center">Settings</mat-card-title>
    <mat-accordion>
      <mat-expansion-panel #mep="matExpansionPanel">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Account
          </mat-panel-title>
          <mat-panel-description fxLayoutAlign="end">
            Edit account info
          </mat-panel-description>
        </mat-expansion-panel-header>
        <form [formGroup]="userForm" fxLayout="column" fxLayoutGap="5px">
          <mat-form-field>
            <input type="text" matInput onfocus="this.value=''" value="{{currentUser?.username}}"
              placeholder="{{currentUser?.username}}" formControlName="username">
          </mat-form-field>
          <mat-form-field>
            <input type="email" matInput onfocus="this.value=''" value={{currentUser?.email}}
              placeholder="{{currentUser?.email}}" formControlName="email">
          </mat-form-field>
        </form>
        <mat-action-row>
          <button class="adjacent-button" mat-raised-button color="warn"
            (click)="cancelUpdate(mep.expanded = false)">Cancel</button>
          <button class="adjacent-button" mat-raised-button color="primary"
            (click)="updateUser(mep.expanded = false)">Save</button>
        </mat-action-row>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            2-factor authentication
          </mat-panel-title>
          <mat-panel-description fxLayoutAlign="end">
            Enable/disable TFA
          </mat-panel-description>
        </mat-expansion-panel-header>

        <app-tfa-settings #appTfaSettings></app-tfa-settings>
        <!-- <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px" [formGroup]="tfaForm" >
                    <mat-form-field>
                      <input type="text" matInput placeholder="Auth code" formControlName="authCode" >
                      <mat-error *ngIf="tfaForm.controls['authCode'].hasError('required')">Auth code field is required</mat-error>
                    </mat-form-field>
                    <button type="submit" mat-raised-button [disabled]="tfaForm.invalid" color="primary">Submit</button>
                </form> -->

        <mat-action-row>
          <button type="submit" mat-raised-button color="primary"
            (click)="tfaEnableVerify(appTfaSettings.tfaEnableForm.value.authCode)"
            *ngIf="!currentUser?.tfaEnabled">Enable</button>
          <button type="submit" mat-raised-button color="warn" (click)="tfaDisable()"
            *ngIf="currentUser?.tfaEnabled">Disable</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card>
</div>