<div class="settings" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
  <mat-card fxFlex.lt-lg="550px" fxFlex.lt-md="500px" fxFlex.xs="0">
    <mat-card-title fxLayoutAlign="center center">Settings</mat-card-title>
    <mat-accordion>
      <mat-expansion-panel #mep="matExpansionPanel">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Account
          </mat-panel-title>
          <mat-panel-description fxLayoutAlign="end">
            Edit account info
          </mat-panel-description>
        </mat-expansion-panel-header>
        <form [formGroup]="userForm" fxLayout="column" fxLayoutGap="5px">
          <div class="edit-overlay" fxLayout="row" fxLayoutAlign="center center" *ngIf="!editableUsername"
            (click)="toggleEditableUsername()">
            <span>Edit Username</span>
          </div>
          <div class="edit-field" fxLayout="row" fxLayoutAlign="space-between" *ngIf="editableUsername">
            <mat-form-field>
              <input type="text" matInput value="{{currentUser?.username}}" placeholder="Username"
                formControlName="username">
            </mat-form-field>
            <div class="field-row-buttons">
              <div fxLayout="row">
                <button class="stroked-btn" mat-stroked-button (click)="toggleEditableUsername()">Cancel</button>
                <button class="stroked-btn" mat-stroked-button [disabled]="userForm.controls['username'].errors"
                  (click)='updateUser("Username")'>Save</button>
              </div>
            </div>
          </div>
          <div class="field-row edit-overlay" fxLayout="row" fxLayoutAlign="center center" *ngIf="!editableEmail"
            (click)="toggleEditableEmail()">
            <span>Edit Email</span>
          </div>
          <div class="edit-field" fxLayout="row" fxLayoutAlign="space-between" *ngIf="editableEmail">
            <mat-form-field>
              <input type="email" matInput value={{currentUser?.email}} placeholder="Email" formControlName="email">
            </mat-form-field>
            <div class="field-row-buttons">
              <div fxLayout="row">
                <button class="stroked-btn" mat-stroked-button (click)="toggleEditableEmail()">Cancel</button>
                <button class="stroked-btn" mat-stroked-button [disabled]="userForm.controls['email'].errors"
                  (click)='updateUser("Email")'>Save</button>
              </div>
            </div>
          </div>
        </form>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Two-Factor Authentication
          </mat-panel-title>
          <mat-panel-description fxLayoutAlign="end">
            Enable/disable 2FA
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-tfa-settings #appTfaSettings></app-tfa-settings>
        <mat-action-row>
          <!-- @TODO
           Add Event Emitter to the Enable/Disable buttons to emit to tfa-settings component, to refresh the component or rerender.   
          -->
          <button type="submit" mat-raised-button color="primary"
            (click)="tfaEnableVerify(appTfaSettings.tfaEnableForm.value.authCode)"
            *ngIf="!currentUser?.tfaEnabled">Enable</button>
          <button type="submit" mat-raised-button color="warn" (click)="tfaDisable()"
            *ngIf="currentUser?.tfaEnabled">Disable</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card>
</div>