<mat-sidenav-container class="sidenav-container">
  <mat-sidenav 
      #drawer class="sidenav" 
      fixedInViewport
      [ngClass]="{hidden: !(isHandset$ | async)}"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/signup" (click)="drawer.close()" *ngIf="!isAuth">
        <mat-icon>face</mat-icon>
        <span class="nav-caption">Sign Up</span>
      </a>
      <a mat-list-item routerLink="/login" (click)="drawer.close()" *ngIf="!isAuth">
        <mat-icon>input</mat-icon>
        <span class="nav-caption">Log In</span>
      </a>
      <mat-list-item *ngIf="isAuth">
          <button mat-icon-button (click)="drawer.close() && onLogout()">
              <mat-icon>eject</mat-icon>
              <span id="logout-btn" class="nav-caption">Logout</span>
            </button>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="mat-toolbar-color">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
        <a routerLink="/"><span class="app-title">peRSSonified</span></a>
      <span class="spacer"></span>
      <div fxHide.xs>
        <a routerLink="/signup" *ngIf="!isAuth">Sign Up</a>
        <a routerLink="/login" *ngIf="!isAuth">Log In</a>
        <a id="logout-btn" *ngIf="isAuth" (click)="onLogout()">Logout</a>
      </div>
    </mat-toolbar>
    <!-- Add ng-content to project all other components here, so they can be wrapped by the nav container.. or when using the router add the router-outlet. -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
