.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.hidden {
  display: none;
}

.spacer {
  flex: 1 1 auto;
}

a {
  text-decoration: none;
}

button {
  height: 100%;
  width: 6.25rem;
  color: #000000a6;
}

button:hover {
  border-radius: 0px;
  color: black;
}

.toolbar-btns {
  margin: 0;
  padding: 0;
  height: 100%;
}

mat-toolbar li {
  display: inline-block;
  /* margin: 0 10px; */
  /* color: rgb(26, 24, 24); */
  text-decoration: none;
}

.mat-button {
  font-size: 1.1rem;
  transition: 0.1s ease-in;
}

.mat-button:hover {
  background: #00000005;
}

.app-title {
  color: rgb(26, 24, 24);
}

.mat-toolbar-color {
  background: rgb(255, 255, 255);
}

.nav-caption {
  display: inline-block;
  padding-left: 6px;
}

.custom-btn {
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
  height: 100%;
}

li {
  list-style: none;
  height: 100%;
  box-sizing: border-box;
}