<div class="news-categories">
  <ul>
    <li><span>World</span></li>
    <li><span>Tech</span></li>
    <li><span>Politics</span></li>
    <li><span>Sports</span></li>
    <li><span>Entertainment</span></li>
  </ul>
</div>

<h1 class="page-title">
  News<i class="material-icons">subdirectory_arrow_left</i>
</h1>

<div class="container-grid-list">
  <mat-grid-list cols="2" rowHeight="610px" gutterSize="15px">
    <!-- TODO - FOR SCROLLABLE CARDS SEE https://www.npmjs.com/package/ngx-owl-carousel-o -->
    <mat-grid-tile colspan="2" class="grid-tile-1">
      <div *ngIf="loading" class="progress-bar">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
      <div class="card-wrapper" *ngFor="let item of mainNews; let i = index">
        <mat-card *ngIf="i % 1 == 0">
          <mat-card-title>{{ item.title }}</mat-card-title>
          <mat-card-content>
            <p *ngIf="item.content; else noContent">{{ item.content }}</p>
            <div
              *ngIf="item.urlToImage; else noImage"
              class="card-image"
              [style.background-image]="'url(' + item.urlToImage + ')'"
            ></div>
            <div class="card-footer">
              <span *ngIf="item.author; else noAuthor">Author: </span
              ><span>{{ item.author }}</span>
              <br />
              <span>Published: </span><span>{{ item.publishedAt | date }}</span>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-grid-tile>

    <mat-grid-tile class="grid-tile-2">
      <div *ngIf="loading" class="progress-bar">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
      <div class="grid-tile-2-content">
        <div
          class="card-wrapper-alt"
          *ngFor="let item of techNews; let i = index"
        >
          <mat-card *ngIf="i % 1 == 0">
            <mat-card-title>{{ item.title }}</mat-card-title>
            <mat-card-content>
              <p *ngIf="item.content; else noContent">{{ item.content }}</p>
              <div
                *ngIf="item.urlToImage; else noImage"
                class="card-image"
                [style.background-image]="'url(' + item.urlToImage + ')'"
              ></div>
              <div class="card-footer">
                <span *ngIf="item.author; else noAuthor">Author: </span
                ><span>{{ item.author }}</span>
                <br />
                <span>Published: </span
                ><span>{{ item.publishedAt | date }}</span>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile class="grid-tile-3">
      <div *ngIf="loading" class="progress-bar">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
      <div class="grid-tile-2-content">
        <div
          class="card-wrapper-alt"
          *ngFor="let item of techNews; let i = index"
        >
          <mat-card *ngIf="i % 1 == 0">
            <mat-card-title>{{ item.title }}</mat-card-title>
            <mat-card-content>
              <p *ngIf="item.content; else noContent">{{ item.content }}</p>
              <div
                *ngIf="item.urlToImage; else noImage"
                class="card-image"
                [style.background-image]="'url(' + item.urlToImage + ')'"
              ></div>
              <div class="card-footer">
                <span *ngIf="item.author; else noAuthor">Author: </span
                ><span>{{ item.author }}</span>
                <br />
                <span>Published: </span
                ><span>{{ item.publishedAt | date }}</span>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" class="grid-tile-4">
      <div *ngIf="loading" class="progress-bar">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
      <div class="card-wrapper" *ngFor="let item of mainNews; let i = index">
        <mat-card *ngIf="i % 1 == 0">
          <mat-card-title>{{ item.title }}</mat-card-title>
          <mat-card-content>
            <p *ngIf="item.content; else noContent">{{ item.content }}</p>
            <div
              *ngIf="item.urlToImage; else noImage"
              class="card-image"
              [style.background-image]="'url(' + item.urlToImage + ')'"
            ></div>
            <div class="card-footer">
              <span *ngIf="item.author; else noAuthor">Author: </span
              ><span>{{ item.author }}</span>
              <br />
              <span>Published: </span><span>{{ item.publishedAt | date }}</span>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<footer class="footer">
  <span>Copyright Slave Atanasov 2020 - All rights reserved. </span>
</footer>

<ng-template #noContent>
  <p style="font-style: italic;">No content available at this moment.</p>
</ng-template>

<ng-template #noImage>
  <img src="../../../assets/img/no-image-available.jpg" class="card-image" />
</ng-template>

<ng-template #noAuthor>
  <span>Author: <span style="font-style: italic;">Unknown</span></span>
</ng-template>
