.gallery-card {
  min-width: 500px;
  max-width: 500px;
  height: 100%;
}

.gallery-card-alt {
  height: 100%;
}

.card-footer {
  margin-top: 10px;
}

mat-card {
  border-radius: 0px;
  box-sizing: border-box;
  height: 100%;
  padding: 40px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1) !important;
}

mat-card-title,
mat-card-content p {
  background: #c3bbac12;
}

.container-grid-list {
  padding: 8rem;
  padding-top: 0;
  padding-bottom: 4rem;
}

.grid-tile-1,
.grid-tile-4 {
  overflow-x: scroll;
}

.grid-tile-2,
.grid-tile-3 {
  overflow-y: scroll;
}

.grid-tile-2-content {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.card-image {
  height: 15rem;
  background-repeat: no-repeat;
  background-size: contain;
}

drag-scroll {
  height: 610px;
  width: 100%;
}

.news-categories {
  margin: 0;
  height: 50px;
  width: 100%;
}

.news-categories ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: center;
  background: linear-gradient(45deg, #f3f3f30f, #074e2d14, #f3f3f30f);
  color: darkgray;
  height: 100%;
  align-items: center;
  font-weight: bold;
}

.news-categories ul li {
  height: 100%;
  padding: 0 15px;
  font-size: 2.5rem;
  // font-size: 250%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s ease-in;
}

.news-categories ul li:hover {
  background-color: antiquewhite;
  cursor: pointer;
  color: #585656;
}

.page-title {
  margin: 1rem;
  text-align: center;
  font-size: 10rem;
  font-style: italic;
  color: #131313bf;
}

.page-title i {
  transform: rotate(270deg);
  font-size: 4.4rem;
  margin-left: 18px;
  font-weight: bold;
}

.progress-bar {
  width: 50vw;
  margin: 0 auto;
}

.footer {
  background-color: rgba(231, 231, 231, 0.39);
  margin: 0;
  padding: 5rem;
  text-align: center;

  & span {
    font-style: italic;
    background: #c3bbac12;
    padding: 1rem;
  }
}

@media (max-width: 900px) {
  .news-categories ul li {
    padding: 0 12px;
    font-size: 4vw;
  }

  .page-title {
    font-size: 15vw;
  }

  .page-title i {
    font-size: 7.5vw;
  }
}