<div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="5px">
    <div class="gallery-card" *ngFor="let item of state; let i = index">
      <mat-card fxFlex="400px" *ngIf="i %9 == 0">
          <mat-card-title>{{item.title}}</mat-card-title>
          <mat-card-content>
            <p *ngIf="item.content">{{item.content}}</p>
            <img src="{{item.urlToImage}}" mat-card-image>
            <span *ngIf="item.author">Author: </span><span>{{item.author}}</span> 
            <h4>{{item.publishedAt | date}}</h4> 
          </mat-card-content>
      </mat-card>
    </div>
</div>