.container {
    /* min-height: 100%;
    width: 100%;
    background-color: rgb(220, 223, 196);
    padding: 3rem; */
    display: flex;
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .gallery-card {
    /* padding: 100px; */
        /* min-height: 100%;
    width: 100%;
    background-color: rgb(220, 223, 196);
    padding: 3rem; */

    /* display: flex;
    width: 100%;
    height: 100%; */

    /* border: 1px solid black; */

    /* flex-direction: row;
    justify-content: center;
    align-items: center; */
    // display: flex;
    min-width: 500px;
    max-width: 500px;
    height: 100%;
  }

  .gallery-card-alt {
    // min-width: 500px;
    // max-width: 500px;
    height: 100%;
  }

  .card-footer {
    margin-top: 10px;
  }

.test-card {
  /* margin: 5px; */
    /* max-width: 30vw;
    max-height: 20vh; */
    /* margin: 0 auto; */
    /* margin-top: 1vh;  */
}

.test-card img {

}


mat-card {
  /* height: 500px;
  border-radius: 0px;
  margin: 10px; */
  // margin-right: 15px;
  border-radius: 0px;
  box-sizing: border-box;
  height: 100%;
  padding: 40px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.10) !important;
}

mat-card-title, mat-card-content p {
  background: #c3bbac12;
}

.container-grid-list {
  padding: 5rem;
  padding-top: 0;
  /* overflow: hidden; */
}

img {
  /*  */
}

.grid-tile-1, .grid-tile-4 {
  overflow-x: scroll;
}

.grid-tile-2, .grid-tile-3 {
  overflow-y: scroll;
}

.grid-tile-2-content {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

mat-grid-tile {
  background-color: rgb(231, 231, 238);
}

.card-image {
  height: 15rem;
  background-repeat: no-repeat;
  background-size: contain;
}

.page-title {
  text-align: center;
  font-size: 10rem;
  font-style: italic;
  background-color: #e23f3f2b;
  color: #131313bf;
  // box-shadow: 0 0 20px 0px #00000000;
}

drag-scroll {
  height: 610px;
  width: 100%
}

.news-categories {
  margin: 0;
  height: 50px;
  width: 100%;
}

.news-categories ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: center;
  background: linear-gradient(45deg, #f3f3f30f, #074e2d14);
  /* padding: 15px 200px; */
  color: darkgray;
  height: 100%;
  align-items: center;
  font-weight: bold;
}

.news-categories ul li {
  height: 100%;
  padding: 0 15px;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s ease-in;
}

.news-categories ul li:hover {
  background-color: antiquewhite;
  cursor: pointer;
  color: #585656;
}
